

@media screen and (max-width:600px){
	#login #tofind1{font-size: 1px;}
	#login #toregist{font-size: 1px; }
	#login .checklogin{font-size: 1px;}
}
 a{
 cursor:pointer;

 text-decoration:none;

 hide-focus: expression(this.hideFocus=true);

outline:none;
 }
 a:link,a:visited,a:hover,a:active{

          text-decoration:none;

           }

a:focus{
             outline:0;
 }
.nav-brand{
    font-size: 24px;
    font-weight: bold;
}
#login,#forgetPW,#inputCode,#sendCode{

    margin-top: 180px;
}
#login .login_username{
    background-color: #f2f2f3;
    height: 50px;
}
#login .login_passwd{
    background-color: #f2f2f3;
    height: 50px;
}
#forgetPW{
    height: 100%;

}
#forgetPW h4{
    color: #6cc77f;
}
#forgetPW h4 span{
    color:#6cc77f ;
}
#inputCode{
    height: 100%;
}
#inputCode h4{
    color: #6cc77f;
}
#inputCode h4 span{
    color:#6cc77f ;
}
#inputCode h2 {
    color:#6cc77f ;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}
#sendCode h2 {
    color:#6cc77f ;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}
#sendCode h4{
    color: #6cc77f;
}
#sendCode h4 span{
    color:#6cc77f ;
}
.findAccount,.checkCode,.checkEmail{
    background-color: #f2f2f3;
    height: 50px;
}

.nextStep{
    background-color: #6cc77f;
    color: #ffffff;

}
#submitFind{
    margin-top: 20px;
}
.gotoEmail{
    background-color: #6cc77f;
    margin-bottom: 20px;

}

.btn a{
    color: #ffffff;
}

.content-main{
	background-color: white;
}
.content-foot{
	margin-top: 40px;
}
.content-foot .onebox{
	background-color: white;
}
#hotpro{
	background-color: #eeeff3;
}
#hotinv{
	background-color: #addab9;
}
#hottime{
	background-color: #eeeff3;
}
#hotvid{
	background-color: #addab9;
}
#footer{
	background-color: #1f1f1f;
}
div,h1,span,h2,h3,h4,h5,h6,li{
	font-family: "微软雅黑";
}
.content-top h1{
	font-size: 24px;
	font-weight: bold;
}
.content-top a{
	font-size: 18px;
	color: #666668;
	
}
#hotpro .content-main h1{
	font-size: 26px;
	font-weight: bold;
}
#hotpro .content-main h2 a{
	font-size: 24px;
	color: #666668;
}
#hotpro .content-main p{
	margin-top: 30px;
	font-size: 24px;
}
#hotpro .content-main .percentage-text{
	font-weight: bold;
}
#right_center span{
	font-size: 18px;
}
#right_center .row{
	line-height: 28px;
}
.onebox{
	padding-left: 5%;
    padding-right: 5%;
	margin-bottom: 20px;
}
.onebox a img{
	margin-top: 20px;
    width: 100%;
}
.onebox h2{
	font-size: 20px;
	font-weight: bold;
	line-height: 22px;
}
.onebox a{
	color: #666668;

}
.onebox h3{
	font-size: 18px;
}
.onebox h4{
	font-size: 16px;
	color: #666668;
	margin-top: 10px;
}
#footer .row{
	margin-top: 20px;

}
.progray{background: #c9c9c9;display: block;margin-left: 4%; float: left;margin-top: 8px;width: 88%;height: 10px;}
.progreen{background: #6cc77f;width: 50%;height: 10px;}

.modal-dialog{
    width: 400px;
}
#login .modal-header h4{
    color:#6cc77f;
    font-size: 20px;
}
.forget button{
    background-color: #6cc77f;
    font-size: 20px;
    color: white;
}
.forget a{
    color: #999999;
}
.sideBox ul li img{
    width: 1000px;
    height: 300px;
}
.swiper-container {
    width: 100%;
    height:450px;
    margin-top: 50px;

}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide img{
    width: 100%;
}