

@media screen and (max-width:600px){
	#login #tofind1{font-size: 1px;}
	#login #toregist{font-size: 1px; }
	#login .checklogin{font-size: 1px;}
}
#login{

    margin-top: 180px;
}
#login .login_username{
    background-color: #f2f2f3;
    height: 50px;
}
#login .login_passwd{
    background-color: #f2f2f3;
    height: 50px;
}

#find1{background: #ffffff;width:33.6%;height: 350px;position: absolute;top:200px;left: 33.2%;float: left;display: none;}
#find1 img{width: 7.08%;height: 30px;margin: 28px 0 0 40px;float: left;}
#find1 h1{font-size: 16px;color: #6cc77f;width:60%;height: 24px;float: left;margin: 34px 0 0 10px;}
#find1 .login_username{background: #f2f2f3;height: 50px;width: 82.54%;margin: 20px 0 0 30px;font-size:14px; color: #c9c9c9;}
#find1 .login_passwd{background: #f2f2f3;height: 50px;width: 52.54%;margin: 20px 0 0 30px;font-size:14px; color: #c9c9c9;float: left; }
#find1 .checkcode{background:#6cc77f;  width: 20%;height: 36px;float: left;margin:20px 40px 0 20px; font-size: 14px;color:#333333;padding-top: 20px;text-align: center;}
#find1 #tofind2{background:#6cc77f;  width: 90px;height: 30px;float: right;margin:10px 40px 0 0; font-size: 14px;color:#ffffff;padding-top: 16px;text-align: center;}


#find2{background: #ffffff;width:33.6%;height: 280px;position: absolute;top:200px;left: 33.2%;float: left;display:none;}
#find2 img{width: 30px;height: 30px;margin: 28px 0 0 40px;float: left;}
#find2 h1{font-size: 16px;color: #6cc77f;width:140px;height: 24px;float: left;margin: 34px 0 0 10px;}
#find2 h2{font-size: 14px;color: #333333;width:80%;height: 24px;float: left;margin:10px 0 0 30px;}
#find2 .login_passwd{background: #f2f2f3;height: 50px;width: 158px;margin: 30px 0 0 30px; font-size: 14px;color:#333333;float: left; }
#find2 .login_passwd_button{background: #aaaaaa;height: 50px;width: 158px;margin: 30px 0 0 30px; font-size: 14px;color:#ffffff;float: left; }
#find2 #tofind3{background:#6cc77f;  width: 90px;height: 40px;float: right;margin:10px 172px 0 0; font-size: 14px;color: #ffffff; text-align: center;}


#find3{background: #ffffff;width:33.6%;height: 280px;position: absolute;z-index: 1;top:200px;right: 33.2%;float: left;display:none;}
#find3 img{width: 30px;height: 30px;margin: 28px 0 0 40px;float: left;}
#find3 h1{font-size: 16px;color: #6cc77f;width:140px;height: 24px;float: left;margin: 34px 0 0 10px;}
#find3 h2{font-size: 14px;color: #333333;width:80%;height: 24px;float: left;margin:30px 0 0 30px;color: black;}
#find3 #toemail{background:#6cc77f;  width: 150px;height: 40px;float: right;margin:40px 140px 0 0; font-size: 14px;color: #ffffff;padding-top: 20px;text-align: center;}
<<<<<<< HEAD

=======
>>>>>>> 1f7e08af59c39f38719c0684580c0e45b91e6f44
/*flash部分*/
.play { width: 100%; height: 420px; margin: 0 auto 0; background: #999; font: 12px Arial;position: relative; z-index: 0;float: left;}

.big_pic { width: 100%; height: 420px; overflow: hidden; border-bottom: 1px solid #ccc; background: #222; position: relative; }
.big_pic li { width: 100%; height: 420px; overflow: hidden; position: absolute; top: 0; left: 0; z-index: 0;  }
.big_pic img{width: 100%;height: 420px; } 

.mark_left { width:50%; height: 420px; position: absolute; left: 0; top: 0; background: red; filter: alpha(opacity:0); opacity: 0; z-index:3000; }
.mark_right { width: 50%; height: 420px; position: absolute; left: 50%; top: 0; background: green; filter: alpha(opacity:0); opacity: 0; z-index:3000; }

.big_pic .prev { width: 60px; height: 60px; position: absolute; top: 130px; left: 10px; z-index: 3001; filter:alpha(opacity:0); opacity:0; cursor: pointer;}
.big_pic .next { width: 60px; height: 60px; position: absolute; top: 120px; right: 10px; z-index: 3001; filter:alpha(opacity:0); opacity:0; cursor: pointer; background: blue;}
.big_pic .prev img{width: 60px; height: 60px;  position: absolute;z-index: 4000;}
.big_pic .next img{width: 60px; height: 60px;  position: absolute;z-index: 4000;}


.big_pic .text { position: absolute; left: 10px; bottom: 4px; z-index: 3000; color: #ccc; }
.big_pic .length { position: absolute; right: 10px; bottom: 4px; z-index: 3000; color: #ccc; }
.big_pic .bg { width: 400px; height: 25px; background: ; filter: alpha(opacity=60); opacity: 0.6; position: absolute; z-index: 2999; bottom: 0; left: 0; }

.small_pic { width: 380px; height: 94px; position: relative; top: 7px; left: 10px; overflow: hidden; display: none;}
.small_pic ul { height: 94px; position: absolute; top: 0; left: 0; }
.small_pic li { width: 120px; height: 94px; float: left; padding-right: 10px; background: url(images/loading.gif) no-repeat center center; cursor: pointer; filter: alpha(opacity=60); opacity: 0.6; }
.small_pic img { width: 120px; height: 94px; }




#footer{background:#1f1f1f ; width: 100%;height:70px;float: left;color: #ffffff;font-size: 14px;}
#footer h1{text-align: center;color: #ffffff;}
#footer a {color: #ffffff;}



.content-main{
	background-color: white;
}
.content-foot{
	margin-top: 40px;
}
.content-foot .onebox{
	background-color: white;
}
#hotpro{
	background-color: #eeeff3;
}
#hotinv{
	background-color: #addab9;
}
#hottime{
	background-color: #eeeff3;
}
#hotvid{
	background-color: #addab9;
}
#footer{
	background-color: #1f1f1f;
}
div,h1,span,h2,h3,h4,h5,h6,li{
	font-family: "微软雅黑";
}
.content-top h1{
	font-size: 24px;
	font-weight: bold;
}
.content-top a{
	font-size: 18px;
	color: #666668;
	
}
#hotpro .content-main h1{
	font-size: 26px;
	font-weight: bold;
}
#hotpro .content-main h2 a{
	font-size: 24px;
	color: #666668;
}
#hotpro .content-main p{
	margin-top: 30px;
	font-size: 24px;
}
#hotpro .content-main .percentage-text{
	font-weight: bold;
}
#right_center span{
	font-size: 18px;
}
#right_center .row{
	line-height: 28px;
}
.onebox{
	padding-left: 5%;
	margin-bottom: 20px;
}
.onebox a img{
	margin-top: 20px;
}
.onebox h2{
	font-size: 20px;
	font-weight: bold;
	line-height: 22px;
}
.onebox a{
	color: #666668;

}
.onebox h3{
	font-size: 18px;
}
.onebox h4{
	font-size: 16px;
	color: #666668;
	margin-top: 10px;
}
#footer .row{
	margin-top: 20px;

}
.progray{background: #c9c9c9;display: block;margin-left: 4%; float: left;margin-top: 8px;width: 88%;height: 10px;}
<<<<<<< HEAD
.progreen{background: #6cc77f;width: 50%;height: 10px;}

.modal-dialog{
    width: 400px;
}
#login .modal-header h4{
    color:#6cc77f;
    font-size: 20px;
}
.forget button{
    background-color: #6cc77f;
    font-size: 20px;
    color: white;
}
.forget a{
    color: #999999;
}
.sideBox ul li img{
    width: 1000px;
    height: 300px;
}
=======
.progreen{background: #6cc77f;width: 50%;height: 10px;}
>>>>>>> 1f7e08af59c39f38719c0684580c0e45b91e6f44
