#container{
	background-color: #c7e3d0;
	min-height: 800px;
	font-family: '微软雅黑';
	margin-top: 50px;
}
#main{
	background-color: #ffffff;
}
#main_top{
	margin-top: 20px;
}
.main_top_top{
	width: 95%;
	margin: 0 auto;
	border-bottom: 2px solid #d7d7d7;
}
.title{
	margin-bottom: -2px;
	width: 30%;
	font-size: 25px;

	color: #66cc66;
	border-bottom: 2px solid #66cc66;
}
.title_lg{
	width: 23%
}
.main_top_bottom{
	height: 100px;
}
.img{
	float: right;
}
.first-row{
	margin-top: 20px;
	font-size: 15px;
}
.second-row{
	margin-top: 50px;
	padding-left: 6%;
	font-size: 16px;
}

a{
	color: #67b6ff;
}
.checkbox {
	width: 30%;
	margin-left: 50px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 15px;
}

.checkbox label {
    cursor: pointer;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0;
    left: 0;
    background: #eee;
    border:1px solid #ddd;
}
.check-content{
	margin-left: 40px;
}
.checkbox label:after {
    opacity: 0.2;
    content: '';
    position: absolute;
    width: 9px;
    height: 5px;
    background: transparent;
    top: 6px;
    left: 7px;
    border: 3px solid #333;
    border-top: none;
    border-right: none;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.checkbox label:hover::after{
    opacity: 1;
}

.checkbox input[type=checkbox]:checked + label:after {
    opacity: 1;
}

textarea{
	width: 93%;
	height: 200px;
	margin-left: 40px;
}
.paydetail .thumbnail{
    margin-top: 20px;
    width: 90%;
    margin-left: 5%;
}
.paycontent{
	width: 93%;
	margin-left: 40px;
	font-size: 17px;
	margin-top: 20px;
	border: 1px solid #e5e5e5;
	padding-left: 20px;
	padding-top: 25px;
}
.paycontent input{
	margin-top: 10px;
	float: left;
}
.pay-discription{
	height: 50px;
	padding-top: 12px;
}
.pay-discription span{
	color: red;
}
.pay-platform{
	width: 95%;
	margin-top: 30px;
	padding-left: 13px;
	margin-bottom: 30px;
	border-bottom: 1px solid #d7d7d7;
}
#main_foot{
	margin-top: 40px;
	font-size: 18px;
}
.totel-money span{
	color: red;
}
.text-red{
    color:red;
    font-weight: bold;
    font-size: 20px;
}
.confirm{
	float: right;
	margin-right: 110px;
	margin-top: 10px;
	width: 17%;
	margin-bottom: 50px;
}
.proName{
    width: 50%;
}
.proName .col-xs-7{
    font-size: 18px;
    color: #000000;

}
.proMoney{
    width: 20%;
}
.proGain{
    width: 30%;
}

.proGainText h1{
    line-height: 30px;
    font-size: 16px;
}
.inputAddress input{
    margin-top: 20px;
    width: 60%;
    margin-left: 5%;
}
.inputAddress .btn{
    float: right;
    width: 10%;
    margin-right:22%;
    margin-top: -34px;

}