a{
    cursor:pointer;

    text-decoration:none;

    hide-focus: expression(this.hideFocus=true);

    outline:none;
}
a:link,a:visited,a:hover,a:active{

    text-decoration:none;

}

a:focus{
    outline:0;
}
#leftnav{
    background-color: #ffffff;
    margin-top: 35px;
}
#leftnav ul .active{
    background-color: #6cc87f;
}
#leftnav ul .active a{
   color: white;
}
#leftnav .personalpage{
    text-align: center;
}
#leftnav .personalpage a{
    line-height: 50px;
    color: #000000;
    font-size: 18px;


}
.accordion-heading{
    text-align: center;
}
.accordion-heading a{
    line-height: 50px;
    color: #000000;
    font-size: 18px;
    text-align: center;
}
.accordion-inner a{
    line-height: 40px;
    font-size: 16px;
    text-align: center;
    margin-left: 10%;
}
.accordion-inner {
    text-align: center;
}