body{
    background-color: #eeeff3;
}
.green-line{
    background-color: #8bb494;
    height: 8px;
    margin-bottom: 20px;
}
#intro-panel{
    margin-top: 80px;

       }
#intro-panel .container{
    background-color: white;

}
.intro-panel .user-pic{
    width: 100%;
    margin-top:20px;
    margin-left: 20px;
}
.intro-panel .col-xs-3 h3{
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
}
.intro-panel .detail-line{
    margin-top: 4px;
}
.intro-panel .detail-line span{
    font-size: 18px;

}
.intro-panel .actionLine span{
    font-size: 18px;
    margin-top:10px;
}
.intro-panel .actionLine .btn{
    margin-top: -3px;
    margin-left: 20px;
    border-radius: 20px;
    -moz-border-radius: 20px;
}
.intro-panel .actionLine span a{
    color: white;
    font-size: 16px;
    font-weight: bold;
}
.intro-panel .leftside{
    float: right;
}
.intro-panel .num-detail span{
    width: 100%;
    text-align: center;
}
.intro-panel .num-text span{
    color: #333333;
    font-size: 28px;
    font-weight: bold;
    margin-top: 15px;
}
.intro-panel .text-red{
    color: red;
}
.intro-panel h5{
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}
.intro-panel h6{
    font-size: 16px;
}
#tabsArea  ul{
    width:100%;
}

#tabsArea  ul li{
    float: left;
    width: 25%;
}
#tabsArea  ul li a{
    text-align: center;
}
#tabsArea  ul .active{
    background-color: #a9ddac;

}
#tabsArea ul .active a{
    background-color: #a9ddac;

}
#tabsArea .tab-content{
    margin-top: 15px;


}
#tabContentArea{
    background-color: #addab9;
}
.onebox{
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 20px;
    background-color: white;
}
.onebox a img{
    margin-top: 20px;
    width: 100%;
}
.onebox h2{
    font-size: 20px;
    font-weight: bold;
    line-height: 22px;
}
.onebox a{
    color: #666668;

}
.onebox h3{
    font-size: 18px;
}
.onebox h4{
    font-size: 16px;
    color: #666668;
    margin-top: 10px;
}
.progray{background: #c9c9c9;display: block;margin-left: 4%; float: left;margin-top: 8px;width: 88%;height: 10px;}
.progreen{background: #6cc77f;width: 50%;height: 10px;}