.main_top{
	padding-top: 80px;
}
.main_top_middle{
	width: 945px;
	height: 40px;
	margin: 0 auto;
	border-bottom: 2px solid #ebebeb;
}
.main_top_bottom{
	width: 800px;
	height: 200px;
	margin: 0 auto;
	padding-top: 50px;
	margin-bottom: 10px;
}
.title_left{
	font-family: "微软雅黑";
	text-align: center;
	font-size: 23px;
	color: #99cc66;
	height: 40px;
	border-bottom: 2px solid #99cc66;
}
.title_right{
	font-family: "微软雅黑";
	text-align: center;
	vertical-align: middle;
	font-size: 15px;
	float: right;
	height: 40px;
	padding-top: 10px;
}
a{
	color: #0066cc;
}

.signup_form{
	width: 480px;
	margin: 0 auto;
}
.signup_content{
	font-family: "微软雅黑";
	margin-bottom: 30px;
}
.control-label{
	font-size: 15px;
	margin-top: 5px;
}
img.signup_star{
	margin-top: -5px;
}
.beforeinput{
	float: left;
	height: 34px;
}
.signup_input{
	float: left;
}
.input{
	float: left;
	width: 248px;
}
.submit-button{
	width: 200px;
	margin: 0 auto;
	margin-top:20px; 
}
.pic-password{
	height: 35px;
}
div .detail-close{
	width: 100px;
	margin-left: 42%;
	margin-bottom:10px; 
}
#detail{
	width: 800px;
	margin: 0 auto;
}



