
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body { background:#fff; color:#555; font-size:14px; font-family: "微软雅黑"; }
td,th,caption { font-size:14px; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a { color:#555; text-decoration:none; }
a:hover { text-decoration:underline; }
img { border:none; }
ol,ul,li { list-style:none; }
input, textarea, select, button { font:14px Verdana,Helvetica,Arial,sans-serif; }
table { border-collapse:collapse; }
html {overflow-y: scroll;}
.container{
    min-width: 1080px;
}
.navbar-fixed-top .container{
    min-width: 0px;
}

#navbar .nav .chooseli{
    background-color: #6cc77f;

}
#navbar .nav .chooseli a{

    color:white;
}
.navbar-fixed-top .container .navbar-right .btn-inverse{
    margin-top: -8px;
    margin-left: -10px;
    margin-bottom: -5px;
}
.operator-name{
    margin-left: 10px;
    color: white;
}
.self-menu{
    background-color: #6cc77f;
}
.glyphicon{
    color: white;
}
.user-nav a {
margin-top:-5px;
 margin-bottom: -10px;
}
.user-nav ul{
    background-color: #6cc87f;
}
.user-nav ul li a:hover{
    background-color: #282f28;
    color:white;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > .open > a:hover{
    background-color: #1f1f1f!important;
}
.user-nav ul li a span{
    line-height: 35px;
}
a{
    cursor:pointer;

    text-decoration:none;

    hide-focus: expression(this.hideFocus=true);

    outline:none;
}
a:link,a:visited,a:hover,a:active{

    text-decoration:none;

}

a:focus{
    outline:0;
}

#login,#forgetPW,#inputCode,#sendCode{

    margin-top: 180px;

}
#login .login_username{
    background-color: #f2f2f3;
    height: 50px;
}
#login .login_passwd{
    background-color: #f2f2f3;
    height: 50px;
}
#forgetPW{
    height: 100%;

}
#forgetPW h4{
    color: #6cc77f;
}
#forgetPW h4 span{
    color:#6cc77f ;
}
#inputCode{
    height: 100%;
}
#inputCode h4{
    color: #6cc77f;
}
#inputCode h4 span{
    color:#6cc77f ;
}
#inputCode h2 {
    color:#6cc77f ;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}
#sendCode h2 {
    color:#6cc77f ;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}
#sendCode h4{
    color: #6cc77f;
}
#sendCode h4 span{
    color:#6cc77f ;
}
.findAccount,.checkCode,.checkEmail{
    background-color: #f2f2f3;
    height: 50px;
}

.nextStep{
    background-color: #6cc77f;
    color: #ffffff;

}
#submitFind{
    margin-top: 20px;
}
.gotoEmail{
    background-color: #6cc77f;
    margin-bottom: 20px;

}
.btn a{
    color: white;
}
#login h4{
    color: #6cc77f
}
.checklogin{
    background-color: #6cc77f;
    color: #ffffff;
}

.modal-dialog{
    width: 400px;
}
#login .modal-header h4{
    color:#6cc77f;
    font-size: 20px;
}
.forget button{
    background-color: #6cc77f;
    font-size: 20px;
    color: white;
}
.forget a{
    color: #999999;
}
.progray{background: #c9c9c9;display: block;margin-left: 4%; float: left;margin-top: 8px;width: 88%;height: 10px;}
.progreen{background: #6cc77f;width: 50%;height: 10px;}

.divider{
    height:1px;
    width:100%;
    background:#d7d7d7;
    overflow:hidden;
    margin-top: 20px;
}
