#main{background:#c7e3d0;width: 100%;height: 1560px;float: left;;}


#maincontainer1{background: yellow; width: 78%;height: 1240px;margin:40px 0 0 11%;display:;}

#maincontainer1 #main_bottom{background: #eeeff3; width: 100%;height: 1240px;float: left;}

#left{ width: 12%;height:100% ;float: left;margin-left: 10%;}
#left li{width: 100%;height: 48px;float: left;margin-top: 34px;}
#left h1{font-size: 20px;width: 100%; height: 38px;text-align: center;float: left;padding: 10px 20px 0 0;}

#center{background: yellow; width: 50%;height:100%;float: left;}
#center li{background: red;  width: 100%;height: 48px;float: left;margin-top: 34px;font-size: 18px;}
#center input{width:30%;height: 50px;float: left;border: 1px solid #cfcfcf;font-size: 18px;}
#center h1{background: pink; width:40%;height: 40px;float: left;font-size: 18px;padding-top: 10px;}
#center h2{background: purple; width:10%;height: 40px;float: left;font-size: 18px;padding-top: 10px;color:#67b6d9;margin-left: 18%; }


#right{background: purple; width:28%;height: 100%;float: left;}
#right li{background: red;  width: 100%;height: 48px;float: left;margin-top: 34px;font-size: 18px;}
#right h1{background: pink; width:100%;height: 40px;float: left;font-size: 18px;padding-top: 10px;color:#67b6d9;  }