#topnav{
 height: 50px;
}
#self_top{
	margin-top: 5px;
	height: 50px;
	float: right;
	

}
#leftnav{
    margin-top: 53px;
    margin-right: 32px;
    width: 260px;
}
.self_right_top{
	height: 190px;
	margin-left:-30px; 
	background-color: #b5e3bf;
	border-bottom: 1px solid #6cc77f;
}
.self_pic{
	width: 85px;
	padding-top: 30px;
	margin: 0 auto;
}
.self_explain{
	font-family: "微软雅黑";
	font-size: 15px;
	width: 135px;
	margin: 0 auto;
	padding-top: 5px;
}
#topbottom{
	width: 435px;
	margin: 0 auto;
	padding-top: 8px
}
#self_nav{
	width: 850px;
	height: 40px;
}
.content_nav{
	text-align: center;
	vertical-align:middle;
	font-family: '微软雅黑';
	line-height:40px; 
	width: 100px;
	height: 40px;
	background-color: #ffffff;
	border: 1px solid #d2d2d2;
}



/*个人中心 粉丝页面css*/

#self_fans{
	width: 1000px;
	margin-left: -25px;
}
div.col-xs-4.fans_card{
	margin: 10px;
	width: 280px;
	height: 140px;
	background-color: #eeeff3;
	
}
.fans_pic{
	margin-top: 20px;
	margin-left: 10px;
    height: 90px;
    border-right:1px solid #d2d2d2 ;
}
.fans_pic img{
    margin-top: 20px;
}
.fans_name{
	font-family: "微软雅黑";
	font-size: 20px;
	font-weight:bold;
	text-align: center;
}
.fans_introduction{
	text-align: center;
	font-family: "微软雅黑";
}
.fans_description{
	margin-top: 20px;
}
.foucus{
    margin-left: 10px;
}




