#topnav{
 height: 50px;
}
#self_top{
	margin-top: 5px;
	height: 50px;
	float: right;
}
#leftnav{
    margin-top: 53px;
    margin-right: 20px;

}
.self_right_top{
	height: 210px;
	margin-left:-30px; 
	background-color: #b5e3bf;
	border-bottom: 1px solid #6cc77f;
}
.self_pic{
	width: 85px;
	padding-top: 30px;
	margin: 0 auto;
}
.self_explain{
	font-family: "微软雅黑";
	font-size: 15px;
    font-weight: bold;
	width: 135px;
	margin: 0 auto;
	padding-top: 5px;
}
#topbottom{
	width: 200px;
	margin: 0 auto;
	padding-top: 9px;
}
#self_nav{
	width: 850px;
	height: 40px;
}
.content_nav{
	text-align: center;
	vertical-align:middle;
	font-family: '微软雅黑';
	line-height:40px; 
	width: 100px;
	height: 40px;
	background-color: #ffffff;
	border: 1px solid #d2d2d2;
}

.self-tab-content{
     width: 100%;
    margin-left: -30px;
}
#toChooseone{
    cursor: pointer;
    border-top:1px solid #6cc77f;
    border-left:1px solid #6cc77f;
    border-right:1px solid #6cc77f;
    border-bottom:1px solid #ffffff;
}
#toChoosefans{
    cursor: pointer;
}
#main{
    margin-top:20px;
    margin-bottom: 10px;
}
body{
    background-color: #eeeff3;
}


/*个人中心 粉丝页面css*/

#self_fans{
	width: 104%;
    background-color: #ffffff;
}

.fans_pic{
	margin-top: 20px;
	margin-left: 10px;
    height: 90px;
    border-right:1px solid #d2d2d2 ;
}
.fans_pic img{
    margin-top: 20px;
}
.fans_name{
	font-family: "微软雅黑";
	font-size: 15px;
	font-weight:bold;
	text-align: center;
}
.fans_introduction{
	text-align: center;
	font-family: "微软雅黑";
    margin-top: 3px;
}
.fans_description{
	margin-top: 20px;
}
.foucus{
    margin-left: 10px;

    background-color: transparent;
    border-color: #6cc77f;
    color: #6cc77f;
    margin-top: 10px;
}

.fans_card{
    background-color: #eeeff3;
    margin-right: 2%;
    margin-top: 1%;
    margin-bottom: 10px;
    width: 31%;
    height: 140px;
    float: right;
}
#startpro,#followpro,#follows,#fans{
    background-color: #ffffff;
}
.seemore{
    width: 60px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.popover-span{
    font-size: 18px;
}
/********************************************交易中心**************************************************/
#recordbox{
    background-color: #ffffff;
}
.record-title{
    margin-bottom:20px;
    margin-left: 15px;
    margin-right: 15px;
    border-bottom: 2px solid #dbdbdb;
}
div .title{
    width: 125px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    height: 40px;
    padding-top: 10px;
    margin-bottom:-2px; 
    border-bottom: 2px solid #6cc77f;
}
.dealtype span{
    font-size: 15px;
    font-weight: bold;
    margin-left: 20px;

}
.dealtype .active{
    background-color: #65cc63;
    color: white;
}
#deal-list table{
    margin-top: 20px;
    background-color: #ffffff;
}
#deal-list table tr td{
    line-height: 50px;
     font-size: 15px;
     text-align: center;
    background-color: #ffffff;
}
#deal-list thead tr th{
    height: 50px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    background-color:#dbdbdb ;
}
#deal-list{
    margin-right: 15px;
    margin-left: 15px;
    min-height: 700px;
}
/********************************************充值**************************************************/
#depositBox{
    background-color: #ffffff;
}
#depositBox .record-title{
    margin-bottom:20px;
    margin-left: 15px;
    margin-right: 15px;
    border-bottom: 2px solid #dbdbdb;
}
 .deposit-title{
     text-align: center;
    font-weight: bold;
    font-size: 17px;
    margin-top: 5px;

}
#depositForm{
    margin:  20px 20px 20px 20px;
    background-color: #d1f0d1;
}
.red-mark{
    color: red;
    font-size: 20px;
    margin-right: 10px;
    vertical-align: middle;
}
#depositForm .row{
    margin-top: 30px;
}
#depositForm .row .col-xs-5 span{
    font-size: 18px;
}

.chargeTitle{
    margin-left: 30px;
    margin-top: 10px;
    color: white;
    background-color: #6cc87f;
    padding-top: 3px;
    font-size: 24px;
    text-align: center;
    height: 40px;
    width: 130px;
}
.divider{
    border-top: 2px solid #dbdbdb;
}
#chargeArea{
    margin:  20px 20px 20px 20px;
    border: 1px solid #dbdbdb;
}
#chargePart{
    margin-left: 30px;
    margin-right: 30px;
    border-top: 1px solid #dbdbdb;
    height: 150px;
}
#chargePart .row{
    margin-top: 10px;
}
#chargebutton{
    width: 30%;
    margin-left: 35%;

    margin-top: 20px;
    font-size: 24px;
}
#chargeDes{
    margin-top: 30px;
    margin-left: 30px;
}
#chargeDes h1{
    line-height: 40px;
}
/********************************************提现**************************************************/
#withdrawbutton{
    width: 30%;
    margin-left: 35%;

    margin-top: 20px;
    font-size: 24px;
}
#withdrawBox{
    background-color:#ffffff;
}
#withdrawDes{
    margin-top: 30px;
    margin-left: 30px;
}
#withdrawDes h1{
    line-height: 40px;
}
#withdrawForm{
    font-size: 18px;
    font-weight: bold;
    line-height: 50px;
}
#withdrawForm .row .col-xs-2 span{
    float: right;
    margin-top: -2px;
}
#withdrawForm .row .btn{
    margin-top: 4px;
}
/*******************************************我的投资**************************************************/
#allPro table{
    margin-top: 20px;
}
#allPro table tr td{
    line-height: 50px;
    text-align: center;
    background-color: #ffffff;
}
#allPro thead tr th{
    text-align: center;
    background-color:#dbdbdb ;
}
#allPro,#unfinishedPro,#finishedPro{
    min-height: 700px;
    background-color: white;
}
#unfinishedPro table{
    margin-top: 20px;
}
#unfinishedPro table tr td{
    line-height: 50px;
    text-align: center;
    background-color: #ffffff;
}
#unfinishedPro thead tr th{
    text-align: center;
    background-color:#dbdbdb ;
}
#finishedPro table{
    margin-top: 20px;
}
#finishedPro table tr td{
     text-align: center;
    background-color: #ffffff;
    line-height: 50px;
}
#finishedPro thead tr th{
    text-align: center;
    background-color:#dbdbdb ;
}
.prostate h1{
    text-align: center;
}
#investProList #threetab ul  .active a{
    color: #000000;
    font-weight: bold;

}
#investProList{
    background-color: #ffffff;
}

.trans{
    margin-top: -15px;
}
/*******************************************转让市场**************************************************/
#buyin table{
    margin-top: 20px;
}
#buyin table tr td{
     text-align: center;
    background-color: #ffffff;
    line-height: 50px;
}
#buyin thead tr th{
    text-align: center;
    background-color:#dbdbdb ;
}
#sellout table{
    margin-top: 20px;
}
#sellout table tr td{
    text-align: center;
    background-color: #ffffff;
    line-height: 50px;
}
#sellout thead tr th{
     text-align: center;
    background-color:#dbdbdb ;
}
#buyin,#sellout{
    min-height: 700px;
    background-color: white;
}
#transMarket #twotab ul  .active a{
    color: #000000;
    font-weight: bold;

}
#transMarket {
    background-color: #ffffff;
}
/*******************************************我发起的项目**************************************************/
#allList table{
    margin-top: 20px;
}
#allList table tr td{
    text-align: center;
    background-color: #ffffff;
    line-height: 50px;
}
#allList thead tr th{
    text-align: center;
    background-color:#dbdbdb ;
}
#financingList table{
    margin-top: 20px;
}
#financingList table tr td{
    text-align: center;
    background-color: #ffffff;
    line-height: 50px;
}
#financingList thead tr th{
    text-align: center;
    background-color:#dbdbdb ;
}
#succeedList table{
    margin-top: 20px;
}
#succeedList table tr td{
    text-align: center;
    background-color: #ffffff;
    line-height: 50px;
}
#succeedList thead tr th{
    text-align: center;
    background-color:#dbdbdb ;
}
#unsucceedList thead tr th{
    text-align: center;
    background-color:#dbdbdb ;
}
#unsucceedList table{
    margin-top: 20px;
}
#unsucceedList table tr td{
    text-align: center;
    background-color: #ffffff;
    line-height: 50px;
}
#allList,#financingList,#succeedList,#unsucceedList{
    min-height: 700px;
    background-color: white;
}
#startPro #fourtab ul  .active a{
    color: #000000;
    font-weight: bold;

}
/*******************************************我关注的项目**************************************************/

.onebox{
    margin-bottom: 20px;
    margin:15px 15px 15px 15px;
    padding: 5%;
    background-color: #eeeff3;
}
.onebox a img{
    margin-top: 20px;
    width: 100%;
}
.onebox h2{
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
}
.onebox a{
    color: #666668;

}
.onebox h3{
    font-size: 18px;
}
.onebox h4{
    font-size: 16px;
    color: #666668;
    margin-top: 10px;
}
#focusPro #twotab ul  .active a{
    color: #000000;
    font-weight: bold;

}
#focusPro{
    background-color: #ffffff;
}
/*******************************************个人资料**************************************************/
#informationBox{
  background-color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 30px;
  }

.text-green{
    color:green;

}
div .edit-info{
    margin-right: 15px;
    font-size: 20px;
}

.self-info{
    margin: 50px 10px 10px 10px;
}

.green-tip img{
    width: 25%;

}
.user-information .row {
    margin-top:20px;
}
.user-information .row .col-xs-3 span{
    float: right;
}
.user-information .user-name,.user-borntime,.user-phone,.user-email,.user-identity,.user-sex{
    font-size: 15px;
}
/*******************************************消息页面**************************************************/
#message #threetab ul  .active a{
    color: #000000;
    font-weight: bold;

}

#message{
    background-color: white;
}
.message-title{
    font-size: 18px;
    font-weight: bold;
}
.one-receive,.one-send,.one-private{
    margin-top: 20px;
}
.one-receive img{
    width: 80%;
    float: right;
}
 .comment-time{
    margin-top: 10px;
}
.comment-content{
    line-height: 30px;
    margin-top: 10px;
    font-weight: bold;
    color: #000000;
}
.one-receive .comment-reply{
    float: right;
    margin-right: 20px;
    margin-top: 10px;
}
.one-receive .comment-reply span{
    margin-right: 30px;
}
.replycomment{
    margin-top: 50px;
}
.replycomment input{
    width: 80%;
}
.replybutton{
    float: right;
    margin-top: 10px;
    margin-right: 140px;
}
.comment-reply .reply-btn{
    cursor: pointer;
}
.text-orange{
    color: orangered;
}
.one-send img{
    width: 80%;
    float: right;
}
.one-receive .comment-reply span{
    margin-right: 30px;
}
.one-send .comment-reply span{
    margin-right: 30px;
    float: right;
}
.one-private img{
    width: 80%;
    float: right;
}
.one-private .comment-reply span{
    margin-right: 30px;
    float: right;
}
/*******************************************平台排行榜**************************************************/
#platrank #twotab ul  .active a{
    color: #000000;
    font-weight: bold;

}
.rank-pic{
    width: 80px;
}
#investRank table thead .active th{
    background-color: #dbdbdb;
}
#startRank table thead .active th{
    background-color: #dbdbdb;
}

/*******************************************安全认证**************************************************/
.safe{
    background-color: #ffffff;
    padding-bottom: 20px;
    padding-left: 40px;
}
#safe-title{
    font-size: 18px;
    text-align: center;
    width: 10%;
    padding-bottom: 5px;
    padding-top: 10px;
    border-bottom: 2px solid #6cc77f;
}
#safe-content{
    margin-top: 50px;
}
.safe-content-detail{
    min-height: 50px;
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
    border-bottom: 1px solid #dfdfdf;
}
.safe-content-detail .glyphicon{
    color: #3399cc;
    font-size: 30px;
}
.content-title{
    font-weight: bold;
    font-size: 18px;
}
.safe-content-detail a{
    color:blue;
}
.safe-content-detail .warning{
    color: red;
}

.safe .edit{
    margin-top: 20px;
    width: 100%;
    margin-left:0px;
    margin-bottom: 20px;
}
.safe .edit .glyphicon{
    font-size: 10px;
}
.safe .edit-title{
   text-align: right;
}
.safe .pic-password{
    width: 100px;
    height: 40px;
    float: left;
}
.safe .edit input{
    width: 90%;
    margin: 0 auto;
}
.safe .refresh{
    float: left;
    margin-left: 5px;
}
/*******************************************绑定银行卡**************************************************/
#cardmanage .cardTitle h2{
    font-size: 20px;
    font-weight: bold;
}
#cardmanage .cardContent{
    margin-top: 20px;
}
#cardmanage .cardContent .cardleft span{
    float: right;
    font-size: 18px;
    line-height: 60px;
}
#cardmanage .cardContent .cardmiddle span{

    font-size: 18px;
    line-height: 60px;
}
#cardmanage .cardContent .cardmiddle a{
    margin-top: 15px;
}
#cardmanage .cardContent .cardright span{

    font-size: 18px;
    line-height: 60px;
}
#cardmanage .cardContent .cardmiddle span input{


    height: 40px;
    margin-top: 12px;
}

#cardmanage .cardContent .cardmiddle span select{


    height: 40px;
    margin-top: 12px;
}
#cardmanage .cardContent .cardright .btn{


    width: 100%;
    line-height: 30px;
    margin-top: 10px;

}
#cardmanage .cardContent .text-red{
    color:#ff5a3f;
}
#cardmanage .cardContent .cardmiddle2 input{


    height: 40px;
    margin-top: 12px;
    width: 50%;
    float: left;
}
#cardmanage .cardContent .cardmiddle2 .btn{
    float: left;
    width: 35%;
    margin-left: 5%;
    margin-top: 10px;
    line-height: 30px;
    font-size: 16px;
}
#cardmanage .cardContent  .actionGroup{
    width: 60%;
    margin-left: 17%;
    margin-top: 50px;
    margin-bottom: 100px;
}
#cardmanage .cardContent  .actionGroup .btn {
    line-height: 40px;
    width: 30%;
    font-size: 18px;
    margin-left: 10px;
}

/*******************************************银行卡列表**************************************************/
#deleteCardModal .question-pic{
    width: 100%;
    text-align: center;
}
#deleteCardModal h2{
    text-align: center;
    margin-top: 20px;
}
#deleteCardModal .buttonModal{
    margin-top: 40px;

}
#deleteCardModal .buttonModal .btn{
    width: 140px;
    margin-left: 30px;
    font-size: 18px;


}
#cardlist .cardTitle h2{
    font-size: 20px;
    font-weight: bold;
}
#cardlist .listContent{
    margin-top: 20px;
}
#cardlist .listContent .bankpic img{
    width: 100%;
}
#cardlist .listContent .bankdetail .banknumber{
    text-align: center;
    margin-top: 10px;
    font-size: 17px;
}

#cardlist .listContent .bankdetail .actionBtn .btn{
     width: 25%;
     margin-left: 15%;
     background-color: transparent;
     color:#66cc66;
 }

#cardlist .listContent .bankdetail .actionBtn span a{


    background-color: transparent;
    color:#66cc66;
    margin-left: 80px;

}
#cardlist .listContent .bankpic span{
    width: 100%;
    text-align: center;
    color: #999999;
    font-size: 52px;
    margin-top: 23px;

}
#deleteCardModal{
    background-color: white;
    width: 400px;
    height: 300px;

    position: fixed;


    margin: 0px auto;

    top: 200px; left: 0px;

    bottom: 0px;

    right: 0px;

    z-index: 1050;
}