.startpic{
    margin-top: 80px;
}
#inputarea{
    margin-top: 30px;
}
#inputarea .row .col-xs-3 span{
    float: right;
    font-size: 20px;
    line-height: 40px;
}
#inputarea .row .col-xs-9  input{

    line-height: 40px;
    width: 80%;
    float: left;
    margin-bottom: 20px;
    margin-top: 5px;
    height: 40px;
}

#inputarea .row .two-input input{
    width: 20%;
    float: left;
    margin-bottom: 20px;
    margin-top: 5px;
}
#inputarea .row .two-input span{

    float: left;
    margin-left: 10px;
    margin-top: 12px;
    margin-right: 10px;
}
#inputarea .row .text{
    margin-top: 10px;
    margin-left: 10px;
    line-height: 40px;
}
#inputarea .row .col-xs-4 .btn{
    width: 100%;
    height: 35px;
    margin-top: 5px;

}

#file-pic{
    width: 100%;
}
#inputarea .thumbnail{
    width: 80%;
    margin-left: 10%;
}
#inputarea .thumbnail img{
    width: 100%;
}
#inputarea textarea{
    min-height: 400px;
}
#inputarea .row .col-xs-9 .text-left input{
    width: 10%;
    margin-left: 20%;
    margin-top: 0px;
    height: 20px;
}
#inputarea .row .col-xs-9 .text-left{
    margin-top: 20px;
}
#inputarea .row .col-xs-9 #nextstep{
    margin-bottom: 80px;
    margin-top: 20px;
    width: 40%;
}
#selectCity{
    margin-top: 10px;
}

/*********************************发起项目2***********************************************************8*/

/*#input-percentage .num-tip{*/
    /*width: 10%;*/
    /*float: right;*/
    /*margin-left: 5%;*/
/*}*/
#input2area .btn-group{
    float: left;
    margin-top: 30px;
    margin-left: 6%;

}
#input2area .btn-group .btn{

    height: 40px;

    margin-left: 20px;
}
#input2area .row .col-xs-3 span{
    float: right;
    font-size: 18px;
    line-height: 40px;
}
#input2area .text-title{
    font-weight: bold;
    margin-bottom: -15px;
    margin-top: 10px;
    margin-right: 10px;
    font-size:18px ;
}
#input2area .divider{
    margin-bottom: 20px;
}
#input2area .row .col-xs-9  input{

    height: 40px;
    width: 60%;
    float: left;
    margin-bottom: 20px;
    margin-top: 5px;
}

#input2area .row .two-input input{
    width: 20%;
    float: left;
    margin-bottom: 20px;
    margin-top: 5px;
}
#input2area .row .two-input span{

    float: left;
    margin-left: 10px;
    margin-top: 12px;
    margin-right: 10px;
}
#input2area .row .text{
    margin-top: 10px;
    margin-left: 10px;
    line-height: 40px;
}
#input2area .row .col-xs-4 .btn{
    width: 100%;
    height: 35px;
    margin-top: 5px;

}
#input2area textarea{
    margin-top: 20px;
    min-height: 200px;
    width: 100%;
}
#input2area .thumbnail{
    width: 80%;
    margin-left: 10%;
}
#input2area .thumbnail img{
    width: 100%;
}
#input2area .row .col-xs-3 .btn{
    width: 40%;

    line-height: 30px;
    margin-top: 40px;

}
#input2area .row .actionbutton .btn{
    width:30%;

    line-height: 30px;
    margin-top: 40px;

}
#input2area #previousStep{
    margin-left: 15%;
}
#input-percentage{
    width: 30%!important;
}
/*********************************发起项目3***********************************************************8*/
#input3area .row .col-xs-3 span{
    float: right;
    font-size: 18px;
    line-height: 40px;
}
#input3area .text-title{
    font-weight: bold;
    margin-bottom: -15px;
    margin-top: 10px;
    margin-right: 10px;
    font-size:18px ;
}
#input3area .row .col-xs-9  input{

   height: 40px;
    width: 60%;
    float: left;
    margin-bottom: 20px;
    margin-top: 5px;
}
#input3area .divider{
    margin-bottom: 20px;
}
#input3area .save{
    width: 30%;
    float: right;
    font-size: 20px;
}
#input3area .col-xs-3 .radio-inline{
    margin-top: 10px;
}
#input3area .row .actionbutton .btn{
    width:30%;

    line-height: 30px;
    margin-top: 40px;
    margin-bottom: 200px;

}
#input3area #previousStep{
    margin-left: 15%;
}
/*********************************发起项目4***********************************************************8*/
.center-show h1{
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
    color: #000000;
    font-size: 24px;
}
.center-show h2{
    text-align: center;
    margin-top: 30px;
    font-size: 20px;

}
.center-show .btn{
    width: 30%;
    margin-left: 35%;
    text-align: center;
    margin-top: 40px;
}